@media (max-width: 767px) {
  .c-booking-section .section-title, .section-title {font-size: 32px;}
  .c-booking-section .section-sub-title {font-size: 16px;}
  .service-card {margin-bottom: 15px;}
  .t-again-img {max-width: 145px;margin: 0 auto 15px;display: inherit;}
  .booking-section .form-group, .booking-section .btn {width: 100%;}
  .footer-logo {text-align: center;}
  .footer-menu {margin-bottom: 60px;}
  .footer-menu ul {margin: 0;float: left;width: 100%;}
  .newsletter-signup .btn {width: 100%;}
  .footer-btns a {width: 100%; margin-bottom: 15px;}
  .section-sub-title {font-size: 14px;}
  .site-header .navbar-header {min-height: 86px;}
  .site-header .navbar-toggle {margin-top: 26px;margin-bottom: 26px;}
}
@media (max-width: 767px) and (orientation: landscape) {
  .n-tour-section .col-md-3 {width: calc(100% / 2); float: left;}
  .service-card {min-height: 400px; margin-bottom: 30px;}
  .t-again-section .col-md-2 {float: left; width: calc(100% / 3);}
  .t-again-img {margin: 0 auto 30px;}
  .footer-menu ul {width: calc(100% / 3);}
  .footer-btns {float: left !important;}
  .footer-btns a {width: auto;}
}
@media (min-width: 768px) and (max-width: 1023px) {
  .c-booking-section .section-title, .section-title {font-size: 32px;}
  .site-header .navbar-default .navbar-nav > li > a {font-size: 14px;}
  .n-tour-section .col-md-3 {width: calc(100% / 2); float: left;}
  .service-card {min-height: 400px; margin-bottom: 30px;}
  .t-again-section .col-md-2 {float: left; width: calc(100% / 6);}
  .c-booking-section .section-sub-title {font-size: 18px;}
  .footer-menu {margin-bottom: 30px;}
  .footer-btns {float: left !important;}
}
@media (min-width: 1024px) and (max-width: 1169px) {
  .social-media li {margin-right: 30px;}
  .newsletter-signup h3 {font-size: 24px;}
  .newsletter-signup .form-group, .newsletter-signup .form-control {width: 100%;}
  .newsletter-signup .btn {margin-top: 5px; width: 100%;}
}
