/*
Website Name: So Fresh Maid
Website URI:
Author:
Version: 1.0
Text Domain:
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Utilities
# Components
# Header
# Content
# Footer
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
  font-family: 'Open Sans';
  font-size: 16px;
}

/*============================
Utilities
============================*/
.color-white {
  color: #fff !important;
}

/*============================
Components
============================*/
.form-control {
  border-color: #c6c6c7;
  box-shadow: none;
}
.btn-blue {
  background: #0e9edf;
  color: #fff;
}
.btn-blue:hover {
  color: #fff;
}

/*============================
Header
============================*/
.site-header .navbar {
  border-radius: 0;
  min-height: 86px;
}
.site-header .navbar-default {
  background: #fff;
  border: none;
  margin: 0;
}
.site-header .navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  color: #071f31;
  letter-spacing: 0.5px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .site-header .navbar-default .navbar-nav > li > a {
    padding-top: 45px;
    padding-bottom: 5px;
  }
}

/*============================
Content
============================*/
.page-section {
  padding: 80px 0;
}
.section-title {
  color: #153048;
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.section-sub-title {
  color: #0e9edf;
  margin: 0 0 45px;
}
.section-title.no-subtitle {
  margin-bottom: 45px;
}
.c-booking-section,
.t-again-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.c-booking-section {
  padding: 60px 0;
}
.c-booking-section .section-title {
  font-size: 46px;
}
.c-booking-section .section-sub-title {
  font-size: 20px;
}
.video-block {
  margin: 0 auto;
  max-width: 840px;
}
.service-card {
  border: 1px solid #e9e9e9;
  padding: 30px 15px;
  min-height: 378px;
}
.service-img-wrapper {
  background: #fbfbfb;
  border: 1px solid #e9e9e9;
  border-radius: 146px;
  margin: 0 auto 30px;
  max-width: 146px;
  min-height: 146px;
  position: relative;
}
.service-img-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.service-card h3 {
  color: #1498d5;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 15px;
  text-transform: uppercase;
}
.service-card p {
  color: #454545;
  font-size: 14px;
  margin: 0;
}
.t-again-img {
  max-width: 100%;
  margin: 0 auto;
}
.booking-section .section-title {
  font-weight: normal;
  font-size: 28px;
  margin-bottom: 30px;
}
.booking-section .form-group {
  width: 50%;
  margin-right: 10px;
}
.booking-section .form-control {
  color: #0b283d;
  font-size: 15px;
  min-height: 50px;
  width: 100%;
}
.booking-section .btn {
  min-height: 50px;
  width: calc(50% - 15px);
  text-transform: uppercase;
  font-weight: 700;
}
.page-footer {
  background: #0b283d;
  padding: 80px 0 0;
}
.footer-logo {
  margin-bottom: 72px;
  padding: 0 30px;
}
.footer-menu {
  float: left;
  width: 100%;
}
.footer-menu ul {
  margin: 0 140px 0 0;
  padding: 0;
  float: left;
}
.footer-menu ul:last-of-type {
  margin: 0;
}
.footer-menu ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-menu a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.social-media {
  margin: 0 0 30px 0;
  padding: 0;
  float: left;
  width: 100%;
}
.social-media a {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 48px;
  text-align: center;
  padding: 12px;
  display: block;
}
.social-media li:last-of-type {
  margin: 0;
}
.social-media li {
  display: inline-block;
  list-style: none;
  margin-right: 55px;
}
.social-media i {
  font-size: 24px;
  color: #0b283d;
}
.newsletter-signup {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.newsletter-signup h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}
.newsletter-signup .form-control,
.newsletter-signup .btn {
  min-height: 48px
}
.newsletter-signup .btn-blue-line {
  background: transparent;
  border: 2px solid #0e9edf;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}
.contact-details {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
}
.contact-details {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
}
.contact-details li {
  list-style: none;
  color: #fff;
  margin-bottom: 15px;
}
.contact-details a {
  color: #fff;
  font-size: 13px;
}
.contact-details .phone i {
  font-size: 24px;
  position: relative;
  top: 4px;
}
.contact-details i {
  margin-right: 10px;
}
.bottom-bar {
  padding: 30px 0;
}
.copyright {
  color: #fff;
  font-size: 14px;
  margin: 0;
  padding: 15px 0;
}
.footer-btns a {
  border: 1px solid #556978;
  font-size: 13px;
  font-weight: 800;
  color: #fff;
  padding: 15px 30px;
  float: left;
  margin-right: 10px;
}
.footer-btns a:last-of-type {
  margin: 0;
}
